<!DOCTYPE html>
<head>
	<title>座席一覧</title>
  <%= stylesheet_link_tag 'sheets' %>
</head>
<html>
  <div class="screen">
    スクリーン　1
  </div>
  <div class = "clients">
    <table>
      <% @rows.each do |row| %>
      <tr>
        <% @columns.each do |column| %>
          <td>
            <%= link_to "#{row.row}-#{column.column}", new_movie_schedule_reservation_path(movie_id: params[:movie_id], schedule_id: params[:schedule_id], date: params[:date], sheet_id: "#{row.row}-#{column.column}") %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</html>