<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @reservation.name %>様　座席予約が予約が完了しました。</h1>
    <p>
      映画名：<%= @movie_name.name %><br>
      上映会場：<%= @theater_name.name %><br>
      上映時間：<%= @schedule.start_time.strftime("%H:%M") %>上映開始<br>
    </p>
  </body>
</html>
