// Place all the styles related to the sheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.screen {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  width: 50%;
  text-align: center;
  margin: 100px auto;
}
.clients {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
